.header-musiczone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background: url(/assets/img/orchestra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.project-subtitle-musiczone {
  font-weight: 700;
  color: #997272;
}
.images-musiczone {
  background-color: #9972725b;
}
