.header-musiczone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem 5rem;
  background: url(/assets/img/orchestra-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--moonstone);
}
.project-subtitle-musiczone {
  font-weight: 700;
  color: #997272;
}
