@import url("bee-buy.css");
@import url("music-zone.css");
@import url("vienna-electro.css");

.project-header {
  margin-top: 144px;
  padding: 0;
  width: 100%;
  color: #f7f7f7;
}
.project-description {
  display: flex;
  width: 100%;
  padding: 4rem 12rem;
  column-gap: 8rem;
  justify-content: space-between;
}
.project-overview {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.project-process {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.project-process ol,
.project-research ol {
  font-weight: 300;
  line-height: 200%; /* 28px */
  letter-spacing: 0.64px;
}
.project-images-desktop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.project-images-tablet {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.project-images-mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.images-desktop a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 254px;
  width: 372px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-desktop img {
  height: 254px;
  width: 372px;
  object-fit: cover;
}
.images-tablet a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 368px;
  width: 254px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-tablet img {
  height: 368px;
  width: 254px;
  object-fit: cover;
}
.images-mobile a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 422px;
  width: 195px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-mobile img {
  height: 422px;
  width: 195px;
  object-fit: cover;
}
.images-desktop a:hover,
.images-tablet a:hover,
.images-mobile a:hover {
  transform: scale(1.05);
}
.project-prototype {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
}
.project-ideation {
  background-color: #ffffff;
  padding: 4rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}
.user-flows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}
.user-flows p {
  font-weight: 500;
  margin-bottom: 1rem;
}
.project-research {
  padding: 4rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}

@media screen and (max-width: 768px) {
  .project-description {
    flex-direction: column;
    padding: 0 2rem;
    column-gap: 2rem;
  }
  .project-overview,
  .project-process {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
  }
  .project-research,
  .project-prototype,
  .project-ideation {
    padding: 2rem;
  }
}
