@import url("bee-buy.css");
@import url("music-zone.css");
@import url("vienna-electro.css");
@import url("leftovers-lab.css");

.project-header {
  margin-top: 113px;
  padding: 0;
  margin-bottom: 2rem;
  width: 100%;
  color: #f7f7f7;
  height: 500px;
}
.project-presentation-navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--body-color);
  color: var(--text-color);
  padding: 2rem 10rem;
  border-top: 2px solid var(--text-color);
}
.project-presentation-navbar a {
  color: var(--text-color);
  transition: 0.5s;
}
.project-presentation-navbar a:hover {
  text-decoration: underline;
}
.project-description {
  display: flex;
  width: 100%;
  padding: 2rem 4rem;
  column-gap: 4rem;
  justify-content: space-between;
}
.project-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  background: var(--transparent-highlight);
  border-radius: 1rem;
  border: 1px solid var(--text-color);
}
.project-details img {
  width: 80%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.project-summary {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.project-process {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  background: var(--transparent-highlight);
  border-radius: 1rem;
  border: 1px solid var(--text-color);
}
.project-details ol,
.project-description ol,
.project-process ol,
.project-research ol {
  font-weight: 300;
  line-height: 200%; /* 28px */
  letter-spacing: 0.64px;
  margin-left: 1rem;
}
.project-images-desktop {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.project-images-tablet {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.project-images-mobile {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  padding: 3rem;
  place-items: center;
}
.images-desktop a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 254px;
  width: 372px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-desktop img {
  height: 254px;
  width: 372px;
  object-fit: cover;
}
.images-tablet a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 368px;
  width: 254px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-tablet img {
  height: 368px;
  width: 254px;
  object-fit: cover;
}
.images-mobile a {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 422px;
  width: 195px;
  border-radius: 1rem;
  transition: 0.75s;
}
.images-mobile img {
  height: 422px;
  width: 195px;
  object-fit: cover;
}
.images-desktop a:hover,
.images-tablet a:hover,
.images-mobile a:hover {
  transform: scale(1.05);
}
.project-presentation {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 3rem;
}
.project-ideation {
  padding: 4rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}
.project-ideation img {
  padding: 2rem;
  background: #ffffff;
  border-radius: 2rem;
}
.user-flows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}
.user-flows p {
  font-weight: 500;
  margin-bottom: 1rem;
}
.project-research {
  padding: 4rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}

@media screen and (max-width: 960px) {
  .project-presentation {
    row-gap: 2rem;
  }
  .project-presentation-navbar {
    padding: 2rem;
  }
  .project-description {
    flex-direction: column;
    padding: 1rem 2rem;
    column-gap: 2rem;
  }
  .project-details,
  .project-process {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .project-research,
  .project-presentation,
  .project-ideation {
    padding: 2rem;
  }
  .project-images-mobile,
  .project-images-tablet,
  .project-images-desktop {
    grid-template-columns: repeat(1, 1fr);
  }
  .images-desktop a,
  .images-desktop img {
    height: auto;
    width: auto;
  }
  .project-details img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .project-presentation-navbar {
    padding: 2rem 1rem;
  }
  .project-presentation-navbar a {
    font-size: 0.75rem;
  }
}
