.header-electro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem;
  background: url(/assets/img/techno-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-electro div {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  background: var(--body-color);
  color: var(--text-color);
  border-radius: 12px;
}
.project-subtitle-electro {
  /* background: linear-gradient(73deg, #ff6dae 0%, #6201b6 100%); */
  color: #7065e4;
  font-weight: 900;
}
.images-electro {
  background: linear-gradient(73deg, #ff6dae 0%, #6201b6 100%);
}
