.link-button {
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  transition: 0.75s;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  background: transparent;
  cursor: pointer;
}
.link-button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
}
.theme-button {
  cursor: pointer;
}
#dark-theme-button {
  display: none;
}
.project-button-small {
  width: 100%;
  padding: 1rem;
  background-color: var(--card-color);
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
  transition: 0.5s;
  font-weight: 700;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.project-button-small:hover {
  background-color: var(--card-hover-color);
  color: var(--text-color);
}
.project-button-big {
  padding: 1.5rem 1rem;
  background-color: var(--text-color);
  border: 1px solid var(--body-color);
  border-radius: 0.2rem;
  color: var(--body-color);
  transition: 0.5s;
  text-align: center;
}
.project-button-big:hover {
  border: 1px solid var(--text-color);
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
}
.button-thin {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--body-color);
  border-radius: 24px;
  transition: 0.75s;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--body-color);
  cursor: pointer;
}
.button-thin:hover {
  border: 1px solid #231f20;
  color: #231f20;
  background-color: transparent;
}
.cv-button-big {
  position: fixed;
  display: inline;
  bottom: 1rem;
  right: 1rem;
  padding: 16px 40px;
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--cv-button-color);
  color: #231f20;
  z-index: 100;
  border: 2px solid #231f20;
  cursor: pointer;
  transition: 1s;
}
.cv-button-small {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 8px;
  background-color: var(--cv-button-color);
  color: #231f20;
  z-index: 100;
  border: 1px solid #231f20;
  cursor: pointer;
  transition: 1s;
  padding: 10px;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
}
.cv-button-big:hover,
.cv-button-small:hover {
  transform: scale(1.05);
}
.project-navbar-button {
  text-align: center;
  width: 100%;
  border-radius: 8px;
  z-index: 100;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem !important;
}

@media screen and (max-width: 1400px) {
  .link-button {
    font-size: 14px;
    padding: 12px 12px;
  }
}

@media screen and (max-width: 768px) {
  .cv-button-big {
    display: none;
    padding: 10px 32px;
    font-weight: 500;
  }
  .cv-button-small {
    display: inline;
  }
  .link-button {
    border: none;
  }
  .navbar-button {
    transform: scale(0.7);
    padding: 10px 8px;
    z-index: 50;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
  }
  .navbar-button img {
    display: block;
    margin: auto;
  }
}
