.link-button {
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  transition: 0.75s;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
body.dark-theme .link-button {
  background: rgba(0, 0, 0, 0.03);
}
.link-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}
body.dark-theme .link-button:hover {
  box-shadow: 0 6px 20px rgba(169, 217, 198, 0.1);
}
.theme-button {
  cursor: pointer;
}
#dark-theme-button {
  display: none;
}
.project-button-small {
  width: 100%;
  padding: 1rem;
  background: var(--card-color);
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
  transition: 0.5s;
  font-weight: 700;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.project-button-small:hover {
  color: var(--text-color);
}
.project-button-big {
  padding: 1.5rem 1rem;
  background: var(--text-color);
  border: 1px solid var(--body-color);
  border-radius: 0.2rem;
  color: var(--body-color);
  transition: 0.5s;
  text-align: center;
  font-weight: 700;
}
.project-button-big:hover {
  border: 1px solid var(--text-color);
  background: var(--button-hover-color);
  color: var(--button-hover-text-color);
}
.button-thin {
  border-radius: 999px;
  background: var(--accent-button-color);
  color: var(--graphite-mist);
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  transition: 0.75s;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.button-thin:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.cv-button-big {
  position: fixed;
  display: inline;
  bottom: 1rem;
  right: 1rem;
  padding: 16px 40px;
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  background: var(--accent-button-color);
  color: var(--button-hover-text-color);
  z-index: 100;
  border: 2px solid var(--button-hover-text-color);
  cursor: pointer;
  transition: 1s;
}
.cv-button-small {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 8px;
  background: var(--accent-button-color);
  color: var(--button-hover-text-color);
  z-index: 100;
  border: 1px solid var(--obsidian-mist);
  cursor: pointer;
  transition: 1s;
  padding: 10px;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
}
.cv-button-big:hover,
.cv-button-small:hover {
  transform: scale(1.05);
}
.project-navbar-button {
  text-align: center;
  width: 100%;
  border-radius: 8px;
  z-index: 100;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem !important;
}

@media screen and (max-width: 1400px) {
  .link-button {
    font-size: 14px;
    padding: 12px 12px;
  }
}

@media screen and (max-width: 768px) {
  .cv-button-big {
    display: none;
    padding: 10px 32px;
    font-weight: 500;
  }
  .cv-button-small {
    display: inline;
  }
  .link-button {
    border: none;
    background: none;
  }
  .navbar-button {
    transform: scale(0.7);
    padding: 10px 8px;
    z-index: 50;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
  }
  .navbar-button img {
    display: block;
    margin: auto;
  }
  .button-thin {
    padding: 10px 12px;
    font-size: 14px;
  }
}
