.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background: #231f20;
  color: #f7f7f7;
}
.footer-text {
  font-weight: 300;
}
.footer a {
  color: #f7f7f7;
}
.footer a:hover {
  color: var(--celeste);
}

@media (max-width: 992px) {
  .footer-text {
    font-size: 0.75rem;
  }
}
