.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: var(--card-color);
  color: var(--secondary-text-color);
}
.footer-text {
  font-weight: 300;
}
.footer a {
  color: var(--text-color);
}

@media screen and (max-width: 992px) {
  .footer-text {
    font-size: 0.65rem;
  }
}
