.home {
  margin-top: 113px;
  padding: 6rem 9rem;
  background-color: var(--home-color);
  color: var(--button-hover-text-color);
  border-bottom: 2px solid #231f20;
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  padding: 1rem 2rem;
}
.home-column {
  width: 60%;
}
.home-column p {
  font-weight: 400;
  line-height: 250%;
}
.home-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 3rem;
}
.welcome-message {
  background-color: transparent;
}
.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.tech-stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.separator-line-horizontal {
  width: 80%;
  height: 1px;
  background: var(--secondary-text-color);
}
.separator-line-vertical {
  width: 1.5px;
  height: 72px;
  background: var(--secondary-text-color);
}

@media screen and (max-width: 1680px) {
  .home {
    padding: 3rem 5rem;
  }
  .home-column {
    row-gap: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .home-container {
    padding: 0;
    flex-direction: column;
    row-gap: 3rem;
  }
  .home-column {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home {
    margin-top: 81px;
  }
  .separator-line-vertical {
    display: none;
  }
}
