.home {
  margin-top: 113px;
  padding: 6rem 9rem;
  background-color: var(--home-color);
  border-bottom: 2px solid var(--obsidian-mist);
}
.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
  padding: 1rem 2rem;
}
.home-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  width: 50%;
}
.home-column p {
  font-weight: 400;
  line-height: 250%;
}
.welcome-message {
  background-color: transparent;
  font-weight: 800;
}
.dark-theme #tagcanvas {
  filter: brightness(1.3) contrast(1);
}
.separator-line-horizontal {
  width: 80%;
  height: 1px;
  background: var(--secondary-text-color);
}
.separator-line-vertical {
  width: 1.5px;
  height: 72px;
  background: var(--secondary-text-color);
}

@media screen and (max-width: 1680px) {
  .home {
    padding: 3rem 5rem;
  }
  .home-column {
    row-gap: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .home-container {
    padding: 0;
    row-gap: 3rem;
  }
  .home-column {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .home-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .home {
    margin-top: 81px;
  }
  .separator-line-vertical {
    display: none;
  }
}
