@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("buttons.css");
@import url("navbar.css");
@import url("home.css");
@import url("portfolio.css");
@import url("footer.css");
@import url("projects/project.css");

/*** GENERAL VARIABLES ***/
:root {
  /* Ligh Theme Color Palette */
  --mist-white: #f8f9fa; /* Background */
  --pearl-glass: #f3f1f7; /* Cards & Sections */
  --mint-quarz: #7fe0b5; /* Primary Accent (CTAs & hover states) */
  --lavender-opal: #b7a8e3; /* Secondary Accent (headers & highlights) */
  --ice-mist: #c4e3ec; /* Supporting Accent (banners & hero) */
  --butter-glow: #f7e7b2; /* Highlights (small ighlights & buttons) */
  --graphite-mist: #3c3f46; /* Primary Text */
  --slate-gray: #5c6068; /* Secondary Text */
  --cloudline: #e1e3e8; /* Borders & Dviders */

  /* Dark Theme Color Palette */
  --obsidian-mist: #1e1f25; /* Background */
  --graphite-glass: #2a2b33; /* Cards & Sections */
  --seafoam-glow: #a9d9c6; /* Primary Accent (CTAs & hover states) */
  --lilac-smoke: #bcaee3; /* Secondary Accent (headers & highlights) */
  --arctic-haze: #9dcfe1; /* Supporting Accent (banners & hero) */
  --amber-veil: #eadfa3; /* Highlights (focus area & button hover states) */
  --moonstone: #e9e9ed; /* Primary Text */
  --mist-gray: #b5b6ba; /* Secondary Text */
  --smoke-line: #34363f; /* Borders & Dividers */

  /* Theme & Typography */
  --body-color: var(--mist-white);
  --text-color: var(--graphite-mist);
  --home-color: var(--ice-mist);
  --secondary-text-color: var(--slate-gray);
  --navbar-color: rgba(255, 255, 255, 0.55);
  --navbar-border-color: rgba(255, 255, 255, 0.4);
  --card-color: var(--mist-white);
  --card-shadow-color: rgba(0, 0, 0, 0.05);
  --card-hover-color: var(--pearl-glass);
  --card-hover-shadow-color: rgba(0, 0, 0, 0.12);
  --button-hover-color: var(--mint-quarz);
  --button-border-color: var(--graphite-mist);
  --button-hover-text-color: var(--text-color);
  --button-hover-shadow-color: rgba(0, 0, 0, 0.08);
  --accent-button-color: var(--mint-quarz);
  --link-button-color: rgba(255, 255, 255, 0.2);
  --divider-color: var(--cloudline);
  --body-font: "Montserrat", sans-serif;
}

/*** BASE ***/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--body-color);
}
h1 {
  font-size: clamp(2.2rem, 4vw, 3rem);
  font-weight: 700;
  letter-spacing: -0.02em;
}
h2 {
  font-size: 1.6rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 50%;
  height: 500px;
}

/*** REUSABLE CLASSES ***/
.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
}

/*** DARK THEME ***/
body.dark-theme {
  --body-color: var(--obsidian-mist);
  --text-color: var(--moonstone);
  --secondary-text-color: var(--mist-gray);
  --navbar-color: rgba(30, 31, 37, 0.6);
  --navbar-border-color: rgba(255, 255, 255, 0.08);
  --card-color: var(--obsidian-mist);
  --card-shadow-color: rgba(0, 0, 0, 0.05);
  --card-hover-color: var(--graphite-glass);
  --card-hover-shadow-color: rgba(255, 255, 255, 0.12);
  --home-color: var(--graphite-glass);
  --button-hover-color: var(--seafoam-glow);
  --button-border-color: var(--moonstone);
  --button-hover-text-color: var(--obsidian-mist);
  --button-hover-shadow-color: rgba(255, 255, 255, 0.08);
  --accent-button-color: var(--seafoam-glow);
  --link-button-color: rgba(0, 0, 0, 0.03);
  --divider-color: var(--smoke-line);
}

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-weight: 300;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  h4,
  p {
    font-size: 1rem;
  }
  .section {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 90%;
    height: 300px;
  }
}
