@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("buttons.css");
@import url("navbar.css");
@import url("home.css");
@import url("portofolio.css");
@import url("footer.css");
@import url("projects/project.css");

/*** GENERAL VARIABLES ***/
:root {
  /* Main color palette */
  --celadon: #b0f2b4;
  --celeste: #baf2e9;
  --columbia-blue: #bad7f2;
  --orchid-pink: #f2bac9;
  --dutch-white: #f2e2ba;

  /* Theme & Typography */
  --body-color: #f7f7f7;
  --text-color: #231f20;
  --transparent-highlight: #231f2010;
  --home-color: var(--dutch-white);
  --hover-color: var(--celeste);
  --body-font: "Montserrat", sans-serif;
}

/*** BASE ***/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--body-color);
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
h3 {
  font-size: 1.25rem;
  font-weight: 300;
}
h4 {
  font-size: 1rem;
  font-weight: 300;
}
p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  text-align: justify;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 50%;
  height: 500px;
}

/*** REUSABLE CLASSES ***/
.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
}

/*** DARK THEME ***/
body.dark-theme {
  --body-color: #231f20;
  --text-color: #f7f7f7;
  --transparent-highlight: #ffffff33;
  --home-color: var(--columbia-blue);
  --hover-color: var(--orchid-pink);
}

@media screen and (min-width: 1680px) {
  h1 {
    font-size: 2.25;
    font-weight: 800;
  }
  h2 {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  h4,
  p {
    font-size: 1rem;
  }
  .section {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  iframe {
    width: 90%;
    height: 300px;
  }
}
