.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navbar-color);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  color: var(--text-color);
  padding: 1rem 10rem;
  border-bottom: 1px solid var(--navbar-border-color);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}
.navbar-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.logo {
  transform: scale(1);
  transition: transform 0.4s ease;
  transform-box: fill-box;
  transform-origin: center;
}
.logo:hover {
  transform: rotate(260deg);
}
.navbar-links,
.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}

@media screen and (max-width: 1400px) {
  .navbar-links {
    column-gap: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-fixed {
    padding: 1rem 1.5rem;
  }
  .navbar-fixed a img {
    transform: scale(0.7);
  }
  #navbarButtonIcon {
    transform: scale(1);
  }
  .navbar-links button {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .navbar-fixed {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 85px auto;
    height: 85px;
    overflow: hidden;
    transition: height 0.4s ease;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
  }
  .navbar-fixed.expanded {
    height: 328px;
  }
  .navbar-fixed > a {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
  .navbar-fixed > .navbar-button {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }
  .navbar-elements {
    grid-column: 1 / -1;
    grid-row: 2;
    background: transparent;
    position: static;
    padding: 1rem;
    z-index: 100;
    right: 0;
    width: 100%;
    column-gap: 0;
    align-items: flex-start;
  }
  .navbar-links {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }
}
