.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--body-color);
  color: var(--text-color);
  padding: 2rem 10rem;
  border-bottom: 2px solid var(--text-color);
}
.navbar-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.navbar-links,
.theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.separator-line-vertical {
  width: 1.5px;
  height: 72px;
  background: var(--text-color);
}

@media screen and (max-width: 992px) {
  .navbar-fixed {
    padding: 2rem 1.5rem;
  }
  .navbar-fixed img {
    transform: scale(0.7);
  }
  .navbar-elements,
  .navbar-links {
    column-gap: 0.5rem;
  }
  .theme {
    column-gap: 0.2rem;
  }
  .navbar-links button {
    font-weight: 500;
  }
  .separator-line-vertical {
    width: 1px;
    height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-fixed {
    padding: 1.5rem 1rem;
  }
}
