@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('buttons.css');
@import url('navbar.css');
@import url('home.css');
@import url('skills.css');
@import url('portofolio.css');
@import url('contact.css');
@import url('footer.css');

/*========================================== GENERAL VARIABLES ==========================================*/
:root {
  /* Colors */
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;

  --purple-dark: #a23bf1; /* #9926f0; */
  --purple-light: #c286f0; /* #bb6ef5; */
  --pink: #c25bce; /* #d122e3; */
  --turquoise: #27ceda5b;

  /* theme */
  --primary-color: var(--purple-dark);
  --secondary-color: var(--pink);
  --gradient: linear-gradient(to right, var(--purple-dark), var(--pink));
  --body-color: var(--white);
  --wave-color: var(--white);
  --shadow: 1px 2px 7px 1px rgb(0 0 0 / 20%);
  --nav-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  --text-color: var(--black);
  --box-color: var(--white);
  --hover-color: var(--gray-800);
  --icons-color: #29ceeb94;
  --skills: #22b2c5;

  /* Font & Typo */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.743rem;

  --big-font-size: 4rem;
  --h1-font-size-bd: 3rem;
  --h2-font-size-bd: 2rem;
  --normal-font-size-bd: 1.3rem;
  --small-font-size-bd: 1rem;
  --smaller-font-size-bd: 0.98rem;

  --font-normal: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*========================================== VARIABLES DARK THEME ==========================================*/
body.dark-theme {
  --gradient: linear-gradient(
    to right,
    rgb(28, 59, 97) 0%,
    rgb(84, 20, 121) 60%
  );
  --body-color: rgb(182, 131, 211);
  --wave-color: rgb(182, 131, 211);
  --nav-shadow: 0 -1px 4px rgba(0, 0, 0, 0.89);
  --text-color: var(--white);
  --box-color: rgb(215, 172, 240);
  --hover-color: var(--primary-color);
  --icons-color: var(--gray1);
  --skills: var(--gray1);
}

/*========================================== BASE ==========================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  /* scrollbar-color: red; scrollbar for Firefox */
}
body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background: var(--body-color);
}
h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}
p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-normal);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*========================================== REUSABLE CLASSES ==========================================*/
.section {
  padding: 7rem 0 0;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.section__subtitle {
  margin-bottom: 1rem;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section .wave-start {
  transform: translateY(-10%);
}
.section .wave-end {
  transform: translateY(15%);
}
.wave-start,
.wave-end {
  fill: var(--wave-color);
}

/*========================================== MEDIA QUERIES ==========================================*/

@media (min-width: 280px) {
  .container {
    max-width: 250px;
  }
  p {
    line-height: 1.5;
  }
}

@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .section__title {
    font-size: var(--h1-font-size-bd);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
